In [ ]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
    print(f'{magician.title()}, that was a great trick!')
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

print('Thank you everyone. That was a great magic show!')

In [ ]:
numbers = list(range(1, 6))
print(numbers)

In [1]:
squares = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
squares = []
for i in range(1,11):
    i = i ** 2
    squares.append(i)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
squares = [value ** 2 for value in range(1, 11) if value % 2 == 0]
print(squares)

[4, 16, 36, 64, 100]

In [3]:
# Counting to Twenty: Use a for loop 
# to print the numbers from 1 to 20, inclusive.




for number in range(1, 21):
    print(number, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [4]:
squares = [value ** 2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
value = [i for i in range(1,21)]
print(value)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

##### One Million: Make a list of the numbers from one to one million, and then use a for loop to print the numbers. (If the output is taking too long, stop it by pressing ctrl-C or by closing the output window.)

In [3]:
one_million = [i for i in range(1, 1_000_001)]
print(f'First 10 values: {one_million[:10]}')
print(f'Last 10 values: {one_million[-10:]}')
print(f'Total number: {len(one_million)}')

First 10 values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Last 10 values: [999991, 999992, 999993, 999994, 999995, 999996, 999997, 999998, 999999, 1000000]
Total number: 1000000

Summing a Million: Make a list of the numbers from one to one million, and then use min() and max() to make sure your list actually starts at one and ends at one million. Also, use the sum() function to see how quickly Python can add a million numbers.

In [5]:
import time

start = time.time()

numbers = [i for i in range(1, 1_000_001)]
total = sum(numbers)

end = time.time()

print(f'Min value in this list is: {min(numbers)}')
print(f'Max value in this list is: {max(numbers)}')
print(f'The sum of this list is: {sum(numbers)}')
print(f'Calculation time: {end - start:.5f} seconds')

Min value in this list is: 1
Max value in this list is: 1000000
The sum of this list is: 500000500000
Calculation time: 0.07120 seconds

Odd Numbers: Use the third argument of the range() function to make a list of the odd numbers from 1 to 20. Use a for loop to print each number.

In [6]:

numbers = [num for num in range(1, 21) if num % 2 != 0]
print(f'These are odd numbers: {numbers}')

These are odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

 
Threes: Make a list of the multiples of 3 from 3 to 30. Use a for loop to 
print the numbers in your list.

Du ska skapa en lista som innehåller alla tal som är delbara med 3.
Listan börjar på 3 och slutar på 30.
Exempel på vilka tal som ska vara med: 3, 6, 9, …, 30.

In [7]:
numbers = [num for num in range(3, 31) if num % 3 == 0]
print(f'Threes list: {numbers}')

Threes list: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [12]:
# Vanligt for loop, ganska mycket kode. 
numbers = []
for num in range(3, 31):
    if num % 3 == 0:
        numbers.append(num)
print(f'Threes list: {numbers}')

Threes list: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

Cubes: A number raised to the third power is called a cube. For example, the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that is, the cube of each integer from 1 through 10), and use a for loop to print out the value of each cube.

In [10]:
cubes = [num ** 3 for num in range(1, 11)]
print(f'The Cube pwer to 3: {cubes}')

The Cube pwer to 3: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

 Cube Comprehension: Use a list comprehension to generate a list of the first 10 cubes

In [11]:
cubes = [num ** 3 for num in range(1, 11) ]
print(f'The Cube pwer to 3: {cubes}')

The Cube pwer to 3: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [12]:
my_list = [num for num in range(1, 11) if num % 2 == 0]
print(my_list)

[2, 4, 6, 8, 10]

In [14]:
# slicing through a list

players = ['charles', 'martina', 'michael', 'florence', 'eli']

print(f'Here are the first three players on my team:')
for player in players[:3]:
    print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

### Copying a list

This typ of copying a list is more correct and when you add new item in a original list so it stay in the original list

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:] # copying from my_foods list

print(f'my foods: {my_foods}')
print(f'My friend foods: {friend_foods}')

my foods: ['pizza', 'falafel', 'carrot cake']
My friend foods: ['pizza', 'falafel', 'carrot cake']

In [19]:
my_foods.append('pasta')
print(f'my foods: {my_foods}')

my foods: ['pizza', 'falafel', 'carrot cake', 'pasta', 'pasta']

In [20]:
print(f'My friend foods: {friend_foods}')

My friend foods: ['pizza', 'falafel', 'carrot cake']

Slices: Using a list, add several lines to the end of the program that do the following:
• 
Print the message The first three items in the list are:. Then use a slice to print the first three items from that program’s list.
• 
Print the message Three items from the middle of the list are:. Use a slice to print three items from the middle of the list.
• 
Print the message The last three items in the list are:. Use a slice to print the last three items in the list.

In [25]:
car_brands = [
    "Toyota", "Honda", "Ford", "Chevrolet", "BMW",
    "Mercedes-Benz", "Audi", "Volkswagen", "Nissan", "Hyundai",
    "Kia", "Subaru", "Mazda", "Volvo", "Lexus",
    "Porsche", "Jaguar", "Ferrari", "Lamborghini", "Tesla"
]


# First three items
print(f'The first three items in the list are:')
for car in car_brands[:3]:
    print(car.title())

# Three items from the middle
print('\nThree items from the middle of the list are:')
middle_index = len(car_brands) // 2 # find the middle
print(car_brands[middle_index - 1 : middle_index + 2]) # 3 items around the middle
# ett före mitten (9),mitten själv (10),ett efter mitten (11).
# Så för att få index 9, 10, 11, måste vi skriva:
# car_brands[9 : 12]

# Last three items
print('\nThe last three items in the list are:')
print(car_brands[-3:])

The first three items in the list are:
Toyota
Honda
Ford

Three items from the middle of the list are:
['Hyundai', 'Kia', 'Subaru']

The last three items in the list are:
['Ferrari', 'Lamborghini', 'Tesla']

In [ ]:
# Last three items
print("\nThe last three items in the list are:")
print(car_brands[-3:])