In [ ]:
import pandas as pd
import numpy as np

### 1 Creating a dataframe from an array

 1.1 option 1

In [4]:
# creating  an array
data = np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
data

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [9]:
# creating a dataframe
df = pd.DataFrame(data, index=['row1', 'row2', 'row3', 'row4'], columns=['column1', 'column2', 'column3'])
df.head()

      column1  column2  column3
row1        1        2        3
row2        4        5        6
row3        7        8        9
row4       10       11       12

### 2 creating a dataframe from a dict

In [11]:
#  list used for this example

states = ['California', 'Texas', 'New York', 'Florida', 'Illinois']
population = [39538223, 29145505, 20201249, 21538187, 12812508]

In [12]:
# sorting lists within a dictionary

dict_states = {'States': states, 'Poopulation': population}

In [22]:
#  creating the dataframe

df = pd.DataFrame(dict_states, index=['a', 'b', 'c', 'd', 'e'])
df.head()

       States  Poopulation
a  California     39538223
b       Texas     29145505
c    New York     20201249
d     Florida     21538187
e    Illinois     12812508

### Creating a dataframe from csv file

In [27]:
try:
    import pandas as pd
    df = pd.read_csv('filename.csv')
except FileNotFoundError:
    print("The file was not found.")
except pd.errors.EmptyDataError:
    print("The file is empty.")

The file was not found.

In [29]:
import pandas as pd

df_exam = pd.read_csv('StudentsPerformance.csv')
df_exam.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50