### Data Structures and Sequences

#### Tuple

In [12]:
tup = (
    (1, 2, 4),   # index 0
    (5, 6, 8),   # index 1  ← den du vill åt
    (9, 10, 12)  # index 2
)

In [16]:
print(tup[1])      # ger (5, 6, 8)
print(tup[1][0])   # ger 5
print(tup[1][1])   # ger 6
print(tup[1][2])   # ger 8

(5, 6, 8)
5
6
8

In [15]:
tup[0][2]

4

In [17]:
value = [x for group in tup[1:] for x in group]
print(value)

[5, 6, 8, 9, 10, 12]

In [19]:
tup_2 = ('foo', 'bar', 'baz', [1,2,3], True)

tup_2[3].append(4)
print(tup_2)
print(len(tup_2[3]))

('foo', 'bar', 'baz', [1, 2, 3, 4], True)
4

In [24]:
# concatenation of tuples

tup_3 = tup + tup_2
for i, tuple_item in enumerate(tup_3, start=1):
    print(f'{i}: {tuple_item}')

1: (1, 2, 4)
2: (5, 6, 8)
3: (9, 10, 12)
4: foo
5: bar
6: baz
7: [1, 2, 3, 4]
8: True

In [26]:
seq = [(1,2,3), (4,5,6), (7,8,9)]
for  a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

# Lists

In [27]:
b = ['saw', 'small', 'he', 'foxes', 'six']
b.sort(key=len)
print(b)

['he', 'saw', 'six', 'small', 'foxes']

In [ ]:
sequence = [1,2,3,4,5,6,7,8,9,10]

sequence[:5]

[1, 2, 3, 4, 5]

In [ ]:
sequence[3:5]

[4, 5]

In [36]:
sequence[3:5] = 'hej'
sequence

[1, 2, 3, 'h', 'e', 'j', 'j', 6, 7, 8, 9, 10]

In [37]:
sequence[::2]

[1, 3, 'e', 'j', 7, 9]

In [38]:
sequence[::3]

[1, 'h', 'j', 8]

In [39]:
sequence[::-1]

[10, 9, 8, 7, 6, 'j', 'j', 'e', 'h', 3, 2, 1]

# Dictionary

In [51]:
d1 = {
    'an_integer': 'b', 
    'a_list': [1,2,3,4]
}

for k, v in d1.items():
    print(f'{k}: {v}')

an_integer: b
a_list: [1, 2, 3, 4]

In [54]:
print(f' An Integer: {d1['an_integer']}')

print(f'A list: {d1['a_list']}')

 An Integer: b
A list: [1, 2, 3, 4]

In [55]:
d1['dummy'] = 'another value'
d1

{'an_integer': 'b', 'a_list': [1, 2, 3, 4], 'dummy': 'another value'}

In [56]:
result = d1.pop('dummy')

In [57]:
result

'another value'

In [58]:
d1

{'an_integer': 'b', 'a_list': [1, 2, 3, 4]}

In [62]:
key_list = ['name', 'age', 'email']
value_list = ['ali', 29, 'ali@gmail.com', 'jawid', 29, 'jawid@gmail.com']

mapping = {}

for key, value in zip(key_list, value_list):
    mapping[key] = value

print(mapping)

{'name': 'ali', 'age': 29, 'email': 'ali@gmail.com'}

In [64]:
key_list = ['name', 'age', 'email']
value_list = ['ali', 29, 'ali@gmail.com', 'jawid', 29, 'jawid@gmail.com', 'simon', 30, 'simon@gmail.com']

# Dela upp value_list i grupper om 3
mapping = []
for i in range(0, len(value_list), len(key_list)): # range(0, len(value_list), len(key_list)) går i steg om 3.
    values = value_list[i:i + len(key_list)] # value_list[i:i+len(key_list)] tar tre värden åt gången.
    person = dict(zip(key_list, values)) # dict(zip(key_list, values)) parar ihop nycklar och värden till en dictionary.
    mapping.append(person)

print(mapping)

[{'name': 'ali', 'age': 29, 'email': 'ali@gmail.com'}, {'name': 'jawid', 'age': 29, 'email': 'jawid@gmail.com'}, {'name': 'simon', 'age': 30, 'email': 'simon@gmail.com'}]